<div class="row">
  <div class="span12">
    <div class="jumbotron logout">
      <h1>Gembeat</h1>
      <p class="lead">
        Logged out of Gembeat server, why not read some <%= link_to "reddit", "http://www.reddit.com/" %> posts?
      </p>

      <p>
        You could also head over to <%= link_to "Github", "https://github.com/" %> and check out our repo for <%= link_to "gembeat-server", "https://github.com/BlakeMesdag/gembeat-server" %>, maybe file an <%= link_to "issue", "https://github.com/BlakeMesdag/gembeat-server/issues" %> if you've found a bug.
      </p>
    </div>
  </div>
</div>