<h3>All Dependencies</h3>

<table class="table table-condensed">
  <thead>
    <th>Name</th>
    <th>Versions</th>
  </thead>
  <tbody>
    <% @dependencies.each do |dependency| %>
    <tr>
      <td>
        <%= link_to dependency[:name], url_for(action: :show, id: dependency[:name]) %>
      </td>
      <td>
        <%= dependency[:versions].join(", ").html_safe %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>